
.Day {
    height: calc(100% - 3rem);
    background: linear-gradient(to bottom, #555 1%,#222 1%, #222 49%, #555 49%, #555 51%, #111 51%,#111 99%,#555 99%);
    background-size: 100% 11.11%;
    width: 15rem;
    padding: 0 0.5rem 0 1rem;
    border-radius: 1rem;
    margin: 3rem 0.5rem 0 0.5rem;
    position: relative;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    user-select: none;

    /*overflow: hidden;*/
}

.Day::before {
    content:attr(date);
    position: absolute;
    text-align: center;
    top: -3rem;
    font-size: 1.5rem;
    left: 0;
    right: 0;
}

.Day::after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0.5rem;
    background: linear-gradient(to bottom, #fff8, #08f8, #fff8);
    border-radius: 0.5rem 0.25rem 0.25rem 0.5rem;
}

.overnight-blob {
    background-color: black;
    width: 3rem;
    height: 5rem;
    margin: 0 0.5rem;
    background-size: cover;
    background-position: center center;
}

.Day, .overnight-blob {
    border-radius: 1rem;
    border: 1px solid darkslategray;
}

.sun-indicator {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    border-top: 1px solid orange;
    color: yellow;
    line-height: 1;
    pointer-events: none;
}

.calendar-block {
    position: absolute;
    left: 2.5rem;
    right: 2.5rem;
    background: #0f07;
    border-radius: 0.5rem;
    border: 1px solid lime;
    padding: 0.5rem;
    overflow: hidden;
}

.calendar-block * {
    line-height: 0.75;
    margin: 0;
    pointer-events: none;
}

.travel-time-notice {
    width: 100%;
    text-align: center;
    transform: translateY(-50%) scaleX(0.75);
    position: absolute;
    color: lawngreen;
    line-height: 0.75;
}